/* Решта стилів тут */

.rounded-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: blue;
    color: white;
    border: 2px solid black; /* Додаємо чорну обводку */
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s; /* Додаємо плавну анімацію переходу */
}

.rounded-button:hover {
    background-color: yellow; /* Колір при наведенні */
    border-color: blue; /* Колір обводки при наведенні */
}